body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
}

#favorites {
    position: relative;
    top: 10px;
    margin-right: 15px;
    text-align: right;
}

#favorites:hover {
    text-decoration: underline;
}

.main-header {
    background-image: url(Mountains\ Header.webp);
    background-size: cover;
    padding-bottom: 10px;
    min-height: 250px;
    text-align: center;
}

h1 {
    position: relative;
    top: 30px;
    text-align: center;
    align-items: center;
    font-size: 8em;
    font-weight: bold;
}

#filter-dropdown {
    height: 25px;
    border-radius: 5px;
    color: #666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#zipcode-search {
    height: 20px;
    border-radius: 5px;
    color: #666;
    border: 1px #666 solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}

.card-content {
    padding: 20px;
    color: #777;
    max-width: 300px;
}

.card-content h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

.card img {
    width: 300px;
    height: 200px;
}

.card-content ul li:not(:first-child) {
    margin-top: 10px; 
}

.title-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.card-content button:hover {
    background-color: rgb(162, 209, 224); 
}

.card-content button:active {
    background-color: rgb(162, 209, 224, 0.5);
}

.favorited {
    background-color: rgb(87, 161, 185);
}

button {
    text-align: center;
    background-color: #666;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
}

#b2 {
    width: auto;
    height: auto;
    font-weight: lighter;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
}

#b2:hover {
    background-color: rgb(162, 209, 224); 
}

.empty {
    color: #777;
    text-align: center;
}

.empty-favorites {
    color: #777;
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 80px;
}

.navigation a {
    color: #666;
    text-decoration: none;
    margin: 0 10px;
}

.navigation a:hover {
    text-decoration: underline;
}

footer img {
    width: 100%;
    height: auto;
}

@media (max-width: 700px) {
    h1 {
        font-size: 5em; 
    }

    .navigation {
        margin-bottom: 50px;
    }
}